* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
  color: white;
}

.texto_header {
  text-align: center;
}
.texto_header .header__titulo {
  padding: 10px;
  margin: 15px;
  color: rgb(131, 212, 9);
}
.texto_header > a {
  text-decoration: none;
}
.texto_header .header__titulo:hover {
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

.barra_nav {
  display: flex;
  justify-content: center;
}
.barra_nav .nav__lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}
.barra_nav .nav__lista .lista__li > a {
  font-size: 16px;
  color: rgb(131, 212, 9);
  text-decoration: none;
}
.barra_nav .nav__lista .lista__li:hover {
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

.principal__container {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/img_principal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal__container .principal {
  text-align: center;
  max-width: 60%;
}
.principal__container .principal__texto {
  font-size: 16px;
}

.destacados {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.tarjeta {
  border: 2px solid rgb(131, 212, 9);
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.29);
  width: 16rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 10px;
}
@keyframes tarjeta-hover {
  50% {
    border-left: none;
    border-right: none;
  }
  100% {
    border: none;
  }
}
.tarjeta:hover {
  animation: both;
  animation-name: tarjeta-hover;
  animation-duration: 1.5s;
}
.tarjeta .tarjeta__img > img {
  width: 100%;
  height: 200px;
  padding: 10px;
  object-fit: cover;
}
.tarjeta .tarjeta__titulo {
  text-align: center;
  font-size: 14px;
  padding: 6px;
}
.tarjeta .tarjeta__precio {
  text-align: center;
}
.tarjeta .tarjeta__boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 40%;
}
.tarjeta .tarjeta__boton .boton__compra > a {
  text-decoration: none;
  color: rgb(131, 212, 9);
  font-size: 12px;
}
@keyframes boton-hover {
  0% {
    border-right: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid rgb(131, 212, 9);
    border-top: 2px solid rgb(131, 212, 9);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
.tarjeta .tarjeta__boton:hover {
  animation: both;
  animation-name: boton-hover;
  animation-duration: 0.5s;
}
.tarjeta .tarjeta__boton:hover .boton__compra > a:hover {
  color: rgb(131, 212, 9);
}
.tarjeta .tarjeta__info {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  line-height: 20px;
}

.combos_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.promos {
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.promos .tarjeta_promos {
  width: 45%;
  height: 30rem;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.29);
  border: 2px solid rgb(131, 212, 9);
  border-radius: 3px;
}
.promos .titulo_tarjeta_promos {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.promos .img_tarjeta_promos {
  width: 100%;
  height: 16rem;
}
.promos .img_tarjeta_promos > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promos .boton_tarjeta_promos {
  padding: 10px;
}
.promos .boton_tarjeta_promos .boton_promo_container {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.promos .boton_tarjeta_promos .boton_promo_container:hover {
  animation: both;
  animation-name: boton-hover;
  animation-duration: 1.5s;
}
.promos .boton_tarjeta_promos .boton_promo_container > a {
  text-decoration: none;
  color: rgb(131, 212, 9);
}
.promos .info_tarjeta_promos {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.pie {
  background-color: rgb(131, 212, 9);
  color: black;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}
.pie .titulo_pie {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.pie .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 50%;
}
.pie .redes .redes__titulo {
  padding: 6px;
  font-size: 18px;
}
.pie .redes .redes__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.pie .redes .redes__link > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.pie .redes .icono_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.pie .redes .icono_div .icono__redes {
  width: 30px;
}
.pie .redes .icono_div:hover {
  transform: translateY(-10px);
  transition-duration: 1s;
}
.pie .redes .icono_div > label {
  font-size: 14px;
}
.pie .newsletter {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  padding: 10px;
}
.pie .newsletter .newsletter_titulo {
  padding: 10px;
}
.pie .newsletter .newsletter_form {
  padding: 5px;
}

.titulo__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.form__container .form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 10px;
}

.map_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.map_container .titulo {
  width: 100%;
  text-align: center;
}

.info_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.info_nosotros .titulo_info {
  text-align: center;
  margin-top: 10px;
}
.info_nosotros .parrafo_info {
  text-align: center;
  padding: 10px;
}

.productos_teclados, .productos_mouses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.productos_teclados .titulo_teclados, .productos_teclados .titulo_mouses, .productos_mouses .titulo_teclados, .productos_mouses .titulo_mouses {
  width: 100%;
  text-align: center;
}

@media (max-width: 360px) {
  .nav__lista {
    flex-flow: row wrap;
    gap: 20px;
  }
}
@media (max-width: 770px) {
  .principal .principal__texto {
    font-size: 18px;
  }
  .texto_header .header__titulo {
    margin: 5px;
  }
  .nav__lista {
    padding: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 410px) {
  .redes .redes__titulo {
    padding: 8px;
  }
  .pie > h4 {
    text-align: center;
  }
}
@media (max-width: 860px) {
  .barra_nav .nav__lista .lista__li > a {
    font-size: 14px;
  }
  .principal__container .principal .principal__titulo {
    font-size: 20px;
  }
  .principal__container .principal .principal__texto {
    font-size: 12px;
  }
  .tarjeta {
    width: 16rem;
    height: 27rem;
  }
  .tarjeta .tarjeta__titulo {
    padding: 5px;
  }
  .tarjeta .tarjeta__boton .boton__compra > a {
    font-size: 16px;
  }
  .tarjeta .tarjeta__info {
    text-align: center;
    padding: 0px;
    font-size: 14px;
  }
}
@media (max-width: 1015px) {
  .principal__container .principal__texto {
    font-size: 13px;
  }
  .tarjeta .tarjeta__boton .boton__compra > a {
    font-size: 12px;
  }
  .tarjeta .tarjeta__info {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
